@font-face {
  font-family: 'HelveticaNeueCyr';
  font-display: swap;
  src: url('./fonts/HelveticaNeueCyr-Heavy.woff') format('woff'),
    url('./fonts/HelveticaNeueCyr-Heavy.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-display: swap;
  src: url('./fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
    url('./fonts/HelveticaNeueCyr-Roman.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'HelveticaNeueCyr';
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

button {
  font-size: 1.125rem;
  font-weight: 700;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.3s;
}
